= image_tag "template_images/discounts.png", :class => "logo"
:textile
  h1. Discounts

  *At Academy Class, we strive to provide you with high quality training at "value for money" prices. Academy Class has launched some very special and unique training savings plans for its customers. The savings make Academy Class's training courses for creative's and developers more affordable and flexible for a wider range of organisations and individuals.*
  
  h2. Early Bird
  
  *Book in Advance and Get an Early Bird Discount with 30% Off Standard Price**
  We've looked at the airlines and this seems to work for them so why not training? Book any Academy Class course 3 months in advance and we'll give you this for 30% less than the standard price.

  p(smaller). *(15% off Jumpstart courses. Cannot be used on top of any other discount / offer or with ANY Creative License Package or Off Peak classes)
  
  h2. Group Bookings
  
  Discounts apply to bookings of two or more people from one organisation: 
  *10% off for two people, 15% for three etc.*
  
  h2. Training Vouchers
  
  Academy Class vouchers are an effective way to save on your training costs, ensuring the maximum benefit from all training investment. Designed to suit an organisation's long-term training needs, Vouchers are an excellent opportunity.
  
  h2. Education, Charity & Freelance Discounts
  
  If you work for a charity, educational establishment or work freelance or an independent basis, and are funding your training yourself, *you can claim a 15%*** discount on any of our open courses.*

  p(smaller). *(cannot be used on top of any other discount or offer or with any Jumpstart Class, Creative License Package or Off-Peak classes which are already heavily discounted classes)