= image_tag "template_images/guarantee.png", :class => "logo"
:textile
  h1. The academy class guarantee
  
  *Did you know that Academy Class is also 100% committed to ensuring you understand the concepts we teach in all our classroom-based courses and that you have met the course objectives?*
  
  We understand that you rely on us to get a good grasp the key concepts taught in our training. We also realise that if you don’t fully understand the content when you leave, the money and time you’d spend repeating the same course is a cost your business could do without.
  
  We believe that our high-quality training courses will meet and exceed your expectations and enable you learn the concepts you need to know, first time. And we want you to be confident that we’ll support you through your learning experience by proving our commitment to delivering a high-quality & easily-understood course. 
  
  *That’s why we’ve introduced the Academy Class Guarantee.*
  
  h2. Here’s how it works
  
  *We make an upfront commitment to you that you’ll be comfortable with what you learn in our classes.*

  If you don’t feel that you’ve grasped the concepts and can put the training into practice, we invite you to repeat the same course within a six-month period absolutely free of charge*.

  Academy Class’s Guarantee, means you can rest assured that if you’re still uncertain about what you’ve learned, you can come back free of charge* and sit the class again. It’s that simple.

.guarantee-box
  %p.title *Academy Class Guarantee Terms and Conditions
  .column1 
    %p Guarantee offer is only made to the original person attending a Academy Class classroom training course and is not transferable.
    %p Attendees returning for a repeat sitting of a course must bring their original manual and materials for use on the day.
    %p 
      Bookings for a repeat sitting of a classroom course must be made via the Academy Class Hotline 
      %span.calltracks_academyclass-main 0800 043 8889
      and are subject to availability.
  .column2
    %p Guarantee offer is valid for 6 months from the date of the original classroom course, after which date it becomes null and void.
    %p Offer is only applicable for one repeat sitting of the same course originally attended.
    %p Cancellation of Course - Academy Class reserves the right to cancel at its sole discretion any particular course. In the event that a specific course is cancelled then participants
  .column3
    %p enrolled in that course will be transferred to the next available course and notified by Academy Class of the change. 
    %p Students should be aware that there is always a chance that they will be “bumped” into the next class if it were to fill up with paying students. Even if you are bumped, we do guarantee that you will be afforded 1 refresher of your training class.