- content_for :meta_keywords do
  About Us, Academy Class, Mission Statement, Training
- content_for :meta_description do
  Information about the specialist digital media training company - Academy Class.
- content_for :meta_title do
  About Us | Academy Class
#template
  = image_tag "template_images/about-us.png", :class => "logo"
  %h1 About Us
  %p.intro Do you want to spend your spare time puzzling over a 1000-page manual? Or do you want to learn a computer program from someone who has actually used it out in the real world?
  %p If you choose the second option, then you've come to the right place. Our hands on, project oriented classes are taught by Certified Adobe, Apple and Autodesk Instructors who are also Designers and Developers so you have come to the right place for the training you seek. We specialize in the development and education of cutting-edge digital media solutions to empower you to make the best use of today's computer-based communications solutions. And as an Authorized Training Partner for Adobe and Autodesk, we demonstrate a higher level of commitment.
  %p Our instructors have first hand experience in using Flash, Dreamweaver, Coldfusion, Flex Photoshop, Illustrator, Indesign, Acrobat, AutoCAD, 3ds Max, Maya, Final Cut pro, Motion, Logic and more and can provide your training onsite or at our training facilities in Central London, Manchester, Glasgow, Leeds and Devon.
  = image_tag "mission-statement.png"
