- content_for :meta_title do
  Academy Class Blended Learning
#email-copy
  %h1 Post Training Blended Learning Support

  %p I’d like to highlight the high level of post training support you would receive from us to aid self development and to address the retention of knowledge issue faced by many delegates attending any given training course. This level of support is unique to Academy Class and we are confident that no other training provider (authorised or not) provide this level of support to delegates.

  %p At present, research shows that there is a 50% lack of retention as soon as a delegate leaves a course and unless they have access to blended learning support or commit themselves to a self development learning curve that individual wouldn’t recapture the knowledge. This level of support is only available with our public scheduled courses and for bookings made direct with Academy Class and not through a third party.

  %p To address this Academy Class have implemented the following to assist with a delegates’ long term skills development:

  %ul
    %li Three months email and telephone support from their trainer
    %li Access to an on-line recording of a delegates course
    %li Opportunity to re-sit their course within 6 months free of charge (Public scheduled courses held in the UK only)
    %li Free application published manual (around 300 pages of exercises and up to advanced knowledge)

  %h2 Blended learning - Get a taster

  %p We know that delegates don’t necessarily get the time to practice their new skills when they arrive back at work. That added to the fact that delegates learn in different ways and retain different levels of information can ultimately lead to lost skills and a low return on investment.

  %p= link_to "http://www.academyclass.com/online-training-videos", videos_home_path

  %p For this reason Academy Class has recorded support videos for all our popular classes starting with our beginner 101 courses, so you will automatically get access to your 101 class videos on completion of your training. The videos recap everything that is covered in the sessions allowing delegates to refresh as many times as required to maximize their new skills.

  %p Do please explore this and share with colleagues. Each class module has a few chapters available for you to test out for free.