- content_for :meta_title do
  Academy Class Certification
#email-copy
  %h1 Certifications

  %p Why do you need to get certified?

  %p Adobe, Apple, Autodesk offer professional certification for people wanting to develop their expertise in the key products within the creative industry. Academy Class offers excellent preparation classes to assist you in your certification goal.

  %h2 Benefits for your career
  %ul
    %li Demonstrate your expertise in the latest technology
    %li Employer recognition (selection, bonuses, advancement, pay)
    %li Industry recognition of your skill set
    %li Earn a portable credential for job retention and mobility
    %li Peer recognition - be the best in your company
    %li Improve your performance and add value to your company

  %h2 Benefits for your employer
  %ul
    %li Objectively benchmark employee performance
    %li Make better hiring decisions
    %li Benefit by investing in staff - lower turnover
    %li Increase productivity by focusing learning on needed skills
    %li Improved workforce management - the right person for the job
    %li Competitive advantage - promote the use of certified staff on projects
    %li Reward employee commitment and expertise - use certification as a goal for performance rewards

  %p Adobe's certification programs meet a wide variety of needs. Whether you are an aspiring student, a digital media professional or an educator, you'll find that being certified makes a difference.

  %P For Digital Media Professionals Apple offers a tiered certification program for Apple’s professional digital applications.

  %p Autodesk Certification can help you succeed in your design career—providing benefits to both you and your employer.