- content_for :meta_keywords do
  Club, Academy Class, Training
- content_for :meta_description do
  The Academy Class Club
- content_for :meta_title do
  Club | Academy Class
#template
  = image_tag "template_images/ac_club.jpg", :class => "logo"
  %h1 Academy Creative Class - An Official Adobe User Group
  %p
    The Creative Class is a *free* and informal evening event looking at what's new in good in the world of Creative Technology
    So if you’re interested in developing your skills in the areas of design, web, new media, 3d, architecture, motion graphics, and social media then the Academy Class
    "Creative Class" is the place for you.
  %p
    Meet up with like minded fun and serious individuals and also learn great new tips and techniques that may not be covered in your standard training class.
    Our goal is to provide a unique, efficient and entertaining forum for designers - both professional and amateur - to offer solutions to our biggest problems 
    and get their ideas out to an interested crowd who can offer networking possibilities, exposure and good old applause.
  %p
    We seek to make connections and build links between graphic designers, Web developers, visual artists and digital content Creatives for collaboration, 
    inspiration and knowledge sharing. We also cover events that relate to our field and review the tools and services relevant to the creative process. 
    And we promise to keep it FUN!
  %p Join today and help us grow by networking with other likeminded souls looking to expand on their opportunities and creative skills.
  %p
    %table
      %tr
        %td Creative Class London
        %td= link_to "http://www.meetup.com/Creative-Class/", "http://www.meetup.com/Creative-Class/"
      %tr
        %td Creative Class Manchester
        %td= link_to "http://www.meetup.com/Creative-Class-Manchester/", "http://www.meetup.com/Creative-Class-Manchester/"
      %tr
        %td Creative Class Glasgow
        %td= link_to "http://www.meetup.com/Creative-Class-Glasgow/", "http://www.meetup.com/Creative-Class-Glasgow/"
        
  %p 
    Be sure to join our Social Media Sites and connect offline as well:
    %br
    Facebook
    =raw "(" + link_to("http://www.facebook.com/AcademyClass", "http://www.facebook.com/AcademyClass") + ")"
    %br
    Twitter
    =raw "(" + link_to("http://twitter.com/academyclass", "http://twitter.com/academylcass") + ")"