- content_for :meta_description do
  Academy Class provides expert consulting for all Adobe, Apple and Autodesk products and many other technologies. Our dedicated teams of trainers, consultants and project managers have over 100 years experience in our industry.
- content_for :meta_keywords do
  Consultancy, Support Services, Web Design, Digital Media, Printing, Advertising, Graphic Design, Multimedia
- content_for :meta_title do
  Digital Media Consultancy | Adobe, Apple & Autodesk Consulting | Academy Class
- content_for :breadcrumbs do
  = link_to "Home", root_path
  = breadcrumb_link_to "Consultancy", :controller => "cms", :action => "consultancy"

#template
  = image_tag("template_images/consultancy.png", :class => "logo")
  %h1 Consultancy
  %p.intro
    Academy Class in partnership with
    %a{:href => "http://www.arctickiwi.com/", :target => "_blank"} Arctic Kiwi
    provides support and development services for numerous digital media and online industries including web design, website development, printing, advertising, graphic design and multimedia.
  %p For projects large and small, Arctic Kiwi provide expertise in consulting and advice to ensure consistent success. We pride ourselves on client satisfaction proven by the frequent repeat business we receive.
  %p When a shift in technology is affecting your business Academy Class and Arctic Kiwi are there to provide the support and guidance for all your cross-media and technical issues.
  %p The Arctic Kiwi team have many years experience in consulting and development with web technologies. We pride ourselves on delivering fast, superior and effective web-based solutions to a variety of businesses.
  %p Academy Class provides expert consulting for all Adobe, Apple and Autodesk products and many other technologies. Our dedicated teams of trainers, consultants and project managers have over 100 years experience in our industry. Whether you need an extra set of hands to complete your current  project, or to outsource your entire project; we are committed to your success. We can assist you in choosing the software to get started, and to getting the right resources to accomplish your goal.
  %p.intro
    The services
    %a{:href => "http://www.arctickiwi.com"} Arctic Kiwi
    provide are:
  %h1 Full Website Development
  %ul
    %li Consulting &amp; Advice
    %li Site design
    %li Usability analysis
    %li Copy writing
    %li Architecture and design
    %li Development
    %li Deployment
    %li Full hosting
    %li Support
  %h1 Revamp Existing Sites
  %ul
    %li Security audits
    %li Site overhauls
    %li Redesigns
    %li Upgrades and site additions
  %h1 Website Development
  %ul
    %li PHP
    %li Ruby On Rails
    %li Python - Django
    %li Java - Spring and Struts
    %li Web services: SOAP and RESTful APIs
  %h1 Database Technologies
  %ul
    %li MySQL
    %li PostgreSQL
    %li Sybase
    %li Microsoft SQL Server
  %p.intro The technologies Academy Class can help you with include:
  %h1 Adobe
  %ul
    %li Acrobat Forms and Security Consultancy
    %li PDF Workflow Consultancy
    %li Design Constancy with Photoshop, InDesign, Illustrator, Flash
    %li ColdFusion Consultancy
    %li Flex Consultancy
    %li Flash Consultancy
    %li Web Consultancy with DreamWeaver, Flash, Flex, Ajax, ColdFusion
    %li RoboHelp Consultancy
    %li Captivate Consultancy
  %h1 Apple
  %ul
    %li Final Cut Pro Consultancy  
    %li Motion Consultancy,  
    %li Logic Consultancy  
  %h1 Autodesk
  %ul
    %li 3ds Max Consultancy  
    %li Maya Consultancy  
    %li AutoCAD Consultancy  
    %li Revit Consultancy  
