- content_for :breadcrumbs do
  = link_to "Home", root_path
  = breadcrumb_link_to "Creative Services", :controller => :cms, :action => :creative_services
- content_for :meta_keywords do
  Creative Services, Professional Services, Development, Design, corporate presentations, Logo design, motion graphics, graphic design, typography, 3d visualization, print
- content_for :meta_description do
  Academy Class not only offers Adobe, Apple and Autodesk Certified Training but also offers its professional creative services to you as a business. Contact Academy Class for more information on our creative services.
- content_for :meta_title do
  Creative Services | Graphic and Web Design | Academy Class

#template
  = image_tag "template_images/creative-services.png", :class => "logo"
  %h1 Creative Services
  %p.intro
    Academy Class not only offers Adobe, Apple and Autodesk Certified Training but also offers its professional services to you as a business.
  %p Be it Website design, corporate presentations, Logo design, motion graphics, graphic design,  typography, 3d visualization or various forms of print medium - Academy Class has an affordable professional solution for you. Of course our expertise with the Adobe / Apple / Autodesk Suites means your solution is not only done quickly but also correctly. We can take your ideas from print and develop them out to the Web or Video in a cost effective manner that can grow with your business. At your convenience, we would be glad to schedule a conference call or meeting to discuss your needs and provide you with several options tailored uniquely to your business. Please feel free to Email or call anytime. We look forward to working with you soon.
  %h2 Design for Print Services
  %p Before the internet existed in its present state there was good, old fashioned graphic design. Of course back then we used a different set of tools, but the concepts have remained the same. Although our team members have strong backgrounds in traditional and graphic art, we have evolved along with the technology.
  %p We handle design of: brochures/collatoral material, business cards/corporate packages, advertisements, posters, cd/dvd covers, catalogs, key art, displays, and more. Contact us today for an estimate.
  %p
    Call 
    %span.calltracks_academyclass-main 0800 043 8889
    or email us at
    %a{:href => 'mailto:info@academyclass.com'} info@academyclass.com
  %h2 Corporate identities and logos
  %p Even the most well known companies started with a simple logo, the first step in creating a corporate or product identity. This initial image presents your company to the world and should embody the message you wish to convey. 
  %p We have developed a total approach to creating strong identities. Our design experience backed with real world marketing tactics can help your company start on the road to building brand equity within your target market. 
  %p
    Contact us today for an estimate.
    %br
    Call 
    %span.calltracks_academyclass-main 0800 043 8889
    or email us at <a href='mailto:info@academyclass.com'>info@academyclass.com</a>
  %h2 Web Design and Development
  %p We strive to develop websites that give your viewers that great first impression by combining form as well as function. Our team has the experience to deliver websites with fast load times, intuitive navigation, clean programming and clean design. 
  %p We've had the opportunity to work with a wide range of clients in an equally wide range of industries. Each website we build is unique (no pre-made templates here!). From static, informational websites, to data-driven, to media-rich, we've got your design needs covered
  %p
    Call
    %span.calltracks_academyclass-main 0800 043 8889
    or email us at <a href='mailto:info@academyclass.com'>info@academyclass.com</a>
  %h2 Flash and Multimedia
  %p
    Cast off your apprehension and embrace Flash animation, streaming video, and interactive user experiences! 
    %br
    At Academy Class, we can develop rich, dynamic Flash web sites, microsites and multimedia presentations to meet the growing demands of internet surfers today.
  %p
    Contact us today for a free project estimate.
    %br
    Call
    %span.calltracks_academyclass-main 0800 043 8889
    or email us at <a href='mailto:info@academyclass.com'>info@academyclass.com</a>
  %h2 Custom Programming
  %p Our programmers have years of experience in developing custom applications. From ecommerce to content management to anything you can dream, our super meticulous team is ready to take it on. 
  %p We can also enhance a project with media, create clean, fast loading pages with css and xhtml or any number of dynamic applications with languages such as php, asp, and javascript. 
  %p 
  Contact us today to request a free quote.
  %br
  Call
  %span.calltracks_academyclass-main 0800 043 8889
  or email us at <a href='mailto:info@academyclass.com'>info@academyclass.com</a>
  %h2 3d Visualisation
  %p 
    Academy Class's objective is to develop our client's vision into reality by assisting with the creation of their projects by developing high quality visuals on time and to specification.
    %br
    With experience in the areas of Broadcast, Post-Production, Architectural Visualisation, Games, Mobile Phone and Design, Neat Sphere have unique skills that can all be brought to bear on a clients project. Our clients are companies of all sizes, ranging from start-up businesses through to internationally acclaimed studios with a range of work that is just as varied.
