- content_for :meta_keywords do
  Guarantee, Academy Class, Training
- content_for :meta_description do
  The Academy Class Guarantee
- content_for :meta_title do
  Guarantee | Academy Class
#template
  = render :partial => 'guarantee'
