- content_for :meta_keywords do
  Site Map, Map, Page List, Course List, Event List, Courses, Events, Pages
- content_for :meta_description do
  The Academy Class web site map listing all pages, courses and events
- content_for :meta_title do
  Academy Class - Site Map

#template
  %h1 Site Map
  %ul
    - @urls.each do |url|
      %li
        %a{:href => url[:page]}= url[:title]
