- content_for :breadcrumbs do
  = link_to "Home", root_path
  = breadcrumb_link_to "Terms of Business", :controller => :cms, :action => :terms_of_business
- content_for :meta_keywords do
  Terms of Business, Agreement, Terms, Contract
- content_for :meta_description do
  Academy Class Terms of Business
- content_for :meta_title do
  Academy Class - Terms of Business
#template=raw textilize Page.find_by_name('terms of business').content
