- content_for :meta_title do
  Academy Class Training Vouchers
#email-copy
  %h1 Training vouchers

  %p Academy Class Training Vouchers are a flexible, cost-effective solution for delivering training to multiple individuals within a team or across an organisation. They also allow any member within your organisation to book a training course anytime over a 12 month period.

  %p Multiple users can make dramatic savings, booking 10, 20 or 30+ training day blocks from the Academy Class schedule. It’s up to you how many Academy Class Vouchers you purchase. All you need to remember is that, the more you buy, the more you save.

  %h2 ACADEMY CLASS VOUCHERS GIVE YOU:

  %p
    %strong FLEXIBILITY
    %br
    With Vouchers, you can send any of your employees to any Academy Class Training Course anytime within 12 months.

  %p
    %strong CONVENIENCE
    %br
    Save time, paperwork and effort. Take care of all your training needs for the entire year with one single purchase order.

  %p
    %strong EASE
    %br
    Managing your training is easy with our monthly Voucher Summary Reports that detail who has attended which courses during the month and how many Vouchers you have remaining.

  %p
    %strong SAVINGS
    %br
    The more Vouchers you purchase, the more money you save.

  %h2 HOW ACADEMY VOUCHERS WORK:
  %ol
    %li You estimate the annual number of courses you, your team or organisation requires
    %li You purchase a block of Academy Class Vouchers equivalent to the annual number of courses you require. The volume discount on the standard course fee is determined by the number of Vouchers purchased
    %li Academy Class assigns a specific number to your block of Academy Class Vouchers
    %li 
      To enrol on a course, simply call 
      %span.calltracks_academyclass-main 0800 043 8889
      , and provide the Academy Voucher number as the method of payment

  %h2 Cost
  %ul
    %li 10 Academy Class Vouchers - £2000 +VAT 10 days of training at £200 per day
    %li 20 Academy Class Vouchers - £2,997 +VAT 20 days of training at £150 per day*
  %p * Available until 31/08/2012
  %br
  %p Don't forget you’re not limited to how many vouchers you purchase (above a minimum of 10 vouchers).
