#PartnerLogos
  %ul
    %li#partner-adobe=link_to "Adobe", "/training/Adobe"
    %li#partner-autodesk=link_to "Autodesk", "/training/Autodesk"
    %li#partner-quark=link_to "Quark", "/training/Quark"
    %li#partner-apple=link_to "Apple", "/training/Apple"