- @included_templates = []

= render :partial => "products/course"
  
#guarantee-wrapper{:style => "display:none;"}
  = render "cms/guarantee"
#discount-wrapper{:style => "display:none;"}
  = render "cms/discounts"
#email-course-details{:style => "display:none;"}
  .email-course-details-form
    = render "email_logs/course_detail_enquiry"